<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1 style="color:rgba(135, 12, 4, 0.842);"> Welcome to Healthy Snacks website </h1>
 <h2 style="color:rgb(29, 29, 32);"></h2> We are a site that sells distinctive products of healthy snacks. We were established on 1/1/2022 in Kuwait.
Our goal is to make all people enjoy snacks throughout the day without harmful substances for them, we are distinguished by our prices and the deliciousness of our snacks! </h2>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/materia/bootstrap.min.css" integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD" crossorigin="anonymous">
</html>