<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Cart</h1>
    <a href="{% url 'checkout'%}">
      <button type="button">Checkout</button>
    </a>
    <br />
    <br />
    {% if items %}
    <table border="1">
      <tr bgcolor="LightGrey">
        <td align="center">Image</td>
        <td align="center">Item Name</td>
        <td align="center">Description</td>
        <td align="center">Pric</td>
        <td align="center">quantity</td>
        <td align="center">total</td>
      </tr>

      {% for item in items %}
      <tr>
        <td align="center">
          <img src="{{item.product.image}}" alt="{{item.product.title}}
          width="100" height="200"">
        </td>
        <td align="center">{{item.product.title}}</td>
        <td align="center">{{item.product.description}}</td>
        <td align="center">{{item.product.price}}kd</td>
        <td align="center">
        </td>
        <form
            method="POST"
            action="{% url 'update_quantity' item.product.id %}"
          >
            {% csrf_token %}
            <input
              type="number"
              name="quantity"
              min="1"
              value="{{item.quantity}}"
            />
            <input type="submit" value="update" />
          </form>
        </td>
        <td align="center">
          {% widthratio item.quantity 1 item.product.price %}
        </td>
      </tr>
      </tr>
      <h3>{{item.total}}</h3>
      {% endfor %}
    </table>
    {% endif %}
  </body>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/materia/bootstrap.min.css" integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD" crossorigin="anonymous">


</html>
